a:link{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: red;
}

#link-index {
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-inicial {
    max-width: 800px;
    max-height: 45px;
    list-style: none;
    padding: 0;
    background-color: black;
}

#menu-inicial li {
    display: inline;
}

#menu-inicial li a{
    color: white;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
}

#menu-inicial li a:hover{
    background-color: red;
}

@media screen and (max-width: 600px) {
    img {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    ul li a {
        width: 100%;
        
    }
}